
header{
    max-width: 100%;
    min-width: 100%;
    display: block;
    height: 3.5rem;
    background-color: #292929;
    color: #ffffff;
      

}
label{
    width: 220px ;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 0;
    margin: 0;
}
header nav ul li{

    list-style: none;

}

header nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;



}
header nav .card-img-top{
    width: 2.7rem;
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: none;
}
.favoritos-count{
    margin-right: 10000px;
}
.text-white{
    background-color: #8C00FF;
    color: #fff;
}