.row{
    margin-top:4rem;
    display: flex;
}


.col-3{
    display: flex;
    justify-content: center;
    width: 25%;
    
}
.contenedorboton{
    width: 100%;
    display: flex;
    justify-content: center;


    
    
} 

.favourite-btn{
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
}



